<%- include('partials/header'); -%>

<% let smoothies = data; %>

<ul class="recipes">
	<% smoothies.forEach(function(smoothie) { %>
	<li class="recipe">
		<img src="/smoothie.png" alt="smoothie recipe icon">
		<h4><%=smoothie.name %></h4>
		<% let ingredients = smoothie.ingredients; %>
		<% ingredients.forEach(function(ingredient) { %>
		<p><%=ingredient %></p>
		<% }); %>
	</li>
	<% }); %>
	<!-- <li class="recipe">
		<img src="/smoothie.png" alt="smoothie recipe icon">
		<h4>Banana Boost</h4>
		<p>Banana, Vanilla ice cream, Milk</p>
	</li> -->

</ul>

<%- include('partials/footer'); -%>